.App {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  display: inline-flexbox;
  justify-content: space-around;
  /* color: white; */
  /* background-color: rgb(56,65,71); */
  height: 150px;
}
hr {
  margin-top: 50px;
}
.inp {
  border: 1px solid gray;
  background-color: cornflowerblue;
  border-radius: 6px;
  margin-right: 30px;
  transition: 500ms;
}
.inp:hover {
  padding: 4px;
  background-color: rgb(198, 255, 84);
  border-radius: 10px;
}
